---
import {PropertiesService} from "@services/properties.service";
import {getProductColors} from "@helpers/product";
import Layout from "@layouts/Layout.astro";
import {ProductsService} from "@services/products.service";
import {IProductModel} from "@models/products.model";
import {moneyFormat} from "@helpers/money-format";
import AddToCartButton from '@components/add-to-cart-button.component.svelte';
import ColorSelector from "@components/product/color-selector.svelte";
import ProductDetails from "@components/product/product-details.svelte";
import QuantitySelector from "@components/product/quantity-selector.svelte";
import {cloudinarySrcSet} from "../../../helpers/cloudinary.helper";
import {config} from "@data/config";

interface IProductPageProps {
    item: IProductModel;
}

export async function getStaticPaths() {
    const allProducts = await (new ProductsService).load() as IProductModel[];
    const all = [];

    for (let i = 0; allProducts.length > i; i++) {
        all.push({
            params: {
                slug: allProducts[i].slug,
                sku: allProducts[i].sku,
            },
            props: {
                item: allProducts[i],
            }
        })
    }

    return all;
}


const {item} = Astro.props as IProductPageProps;
const propertiesService = new PropertiesService();
const allColors = await propertiesService.getPropertyValues({slug: 'color'});
const allMaterials = await propertiesService.getPropertyValues({slug: 'material'});
const colors = getProductColors(allColors, item.variants.filter(variant => variant.color && variant.image));

function slimDownProduct(item) {
    return {
        id: item.id,
        title: item.title,
    }
}

const srcSet = cloudinarySrcSet(item.thumb || config.defaultNoImage);

---
<Layout title={item.title}>
    <main class="mx-auto max-w-7xl sm:px-6 sm:pt-16 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <!-- Product -->
            <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
                <!-- Image gallery -->
                <div class="flex flex-col-reverse">
                    <!-- Image selector -->
                    {/* *
                    <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
                        <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
                            <button id="tabs-2-tab-1" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" x-data="Components.tab(0)" aria-controls="tabs-2-panel-1" role="tab" x-init="init()" @click="onClick" @keydown="onKeydown" @tab-select.window="onTabSelect" :tabindex="selected ? 0 : -1" :aria-selected="selected ? 'true' : 'false'" type="button" tabindex="0" aria-selected="true">
                                <span class="sr-only">Angled view</span>
                                <span class="absolute inset-0 overflow-hidden rounded-md">
                      <img src={item.thumb} alt="" class="h-full w-full object-cover object-center">
                    </span>
                                <span class="pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2 ring-indigo-500" aria-hidden="true"></span>
                            </button>
                            <button id="tabs-2-tab-2" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" x-data="Components.tab(0)" aria-controls="tabs-2-panel-2" role="tab" x-init="init()" @click="onClick" @keydown="onKeydown" @tab-select.window="onTabSelect" :tabindex="selected ? 0 : -1" :aria-selected="selected ? 'true' : 'false'" type="button" tabindex="-1" aria-selected="false">
                                <span class="sr-only">Front view</span>
                                <span class="absolute inset-0 overflow-hidden rounded-md">
                      <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-02.jpg" alt="" class="h-full w-full object-cover object-center">
                    </span>
                                <span class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2" aria-hidden="true" x-state:on="Selected" x-state:off="Not Selected" :class="{ 'ring-indigo-500': selected, 'ring-transparent': !(selected) }"></span>
                            </button>
                            <button id="tabs-2-tab-3" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" x-data="Components.tab(0)" aria-controls="tabs-2-panel-3" role="tab" x-init="init()" @click="onClick" @keydown="onKeydown" @tab-select.window="onTabSelect" :tabindex="selected ? 0 : -1" :aria-selected="selected ? 'true' : 'false'" type="button" tabindex="-1" aria-selected="false">
                                <span class="sr-only">Back view</span>
                                <span class="absolute inset-0 overflow-hidden rounded-md">
                      <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-03.jpg" alt="" class="h-full w-full object-cover object-center">
                    </span>
                                <span class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2" aria-hidden="true" x-state:on="Selected" x-state:off="Not Selected" :class="{ 'ring-indigo-500': selected, 'ring-transparent': !(selected) }"></span>
                            </button>
                            <button id="tabs-2-tab-4" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" x-data="Components.tab(0)" aria-controls="tabs-2-panel-4" role="tab" x-init="init()" @click="onClick" @keydown="onKeydown" @tab-select.window="onTabSelect" :tabindex="selected ? 0 : -1" :aria-selected="selected ? 'true' : 'false'" type="button" tabindex="-1" aria-selected="false">
                                <span class="sr-only">Back angle open view</span>
                                <span class="absolute inset-0 overflow-hidden rounded-md">
                      <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-04.jpg" alt="" class="h-full w-full object-cover object-center">
                    </span>
                                <span class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2" aria-hidden="true" x-state:on="Selected" x-state:off="Not Selected" :class="{ 'ring-indigo-500': selected, 'ring-transparent': !(selected) }"></span>
                            </button>

                        </div>
                    </div>
                    */}
                    <div class="aspect-h-1 aspect-w-1 w-full">
<!--                            <img src={optimizeCloudinaryImage(item.thumb, 900)} alt={item.title} id="main" width="640" height="480"
                                 class="h-full w-full object-cover object-center sm:rounded-lg">-->
                        {srcSet && (
                        <picture id="main">
                            <source media="(max-width: 767px)"
                                    srcset={`${srcSet.copies[0].url}  768w`}
                                    sizes={`(max-width: 767px) 100vw`}>

                            <source srcset={`${srcSet.copies[1].url} 1700w`}>
                            <img src={srcSet.original} class="h-full w-full object-cover object-center sm:rounded-lg"
                                 alt={item.title}></picture>
                        )}
                    </div>
                </div>

                <!-- Product info -->
                <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900">{item.title}</h1>

                    <div class="mt-3">
                        <h2 class="sr-only">Product information</h2>
                        {item.price && item.price !== -1 && (
                        <p class="text-3xl tracking-tight text-gray-900">{moneyFormat(item.price)}</p>
                        )}
                        {!item.price || item.price === -1 && (
                                <p class="text-3xl tracking-tight text-gray-900">Contact us</p>
                        )}
                    </div>


                    <div class="mt-6">
                        <h3 class="sr-only">Description</h3>

                        <div class="space-y-6 text-base text-gray-700">
                            <p set:html={item.description}></p>
                        </div>
                    </div>

                    <form class="mt-6">
                        <!-- Colors -->
                        <div>

                            <fieldset class="mt-2">
                                <ColorSelector colors={colors} client:idle targetImage={`#main`} withLabels={true}
                                               mode="picture"  />
                                <legend class="sr-only">Choose a color</legend>

                            </fieldset>
                        </div>
                        <div class="mt-10 flex">
                        <QuantitySelector client:idle />
                        </div>
                        <div class="mt-10 flex">
                            {item.price && item.price !== -1 && (
                            <AddToCartButton item={slimDownProduct(item)} client:idle>Add to Quote</AddToCartButton>
                            )}
                            {!item.price || item.price === -1 && (
                                    <div>Request price</div>
                            )}
                        </div>
                    </form>

                    <section aria-labelledby="details-heading" class="mt-12">
                        <h2 id="details-heading" class="sr-only">Additional details</h2>

                        <div class="divide-y divide-gray-200 border-t">
                            <div>
                                <h3>
                                    <button type="button" class="group relative flex w-full items-center justify-between py-6 text-left">
                                        <span class="text-sm font-medium text-indigo-600">Details</span>
                                    </button>
                                </h3>
                                <div class="prose prose-sm pb-6" id="details" >
                                    <ProductDetails item={item} />

                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>

        </div>
    </main>
</Layout>
